force-app/main/default/flows/Calculate_Without_Discount_Price.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Update_Without_Discount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tiles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TILES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Without_Discount</targetReference>
            </connector>
            <label>Tiles</label>
        </rules>
        <rules>
            <name>Natural_stone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATURAL STONE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Without_Discount</targetReference>
            </connector>
            <label>Natural stone</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>F1</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Price_Sqft__c}*{!$Record.Sqft__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>F2</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Unit_Price__c}*{!$Record.Sqft__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>F3</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Unit_Price__c}*{!$Record.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Calculate Without Discount Price {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Without Discount Price</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Without_Discount</name>
        <label>Copy 1 of Update Without Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Without_Discount_Total_Price__c</field>
            <value>
                <elementReference>F2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Without_Discount</name>
        <label>Copy 2 of Update Without Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Without_Discount_Total_Price__c</field>
            <value>
                <elementReference>F3</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Without_Discount</name>
        <label>Update Without Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Without_Discount_Total_Price__c</field>
            <value>
                <elementReference>F1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Category__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Cart_Line_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
