force-app/main/default/flows/Cart_Line_Item_Price_Calculation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Amount_after_adding_Tax</name>
        <label>Amount after adding Tax</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CalculatedTotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AfterAddingTax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Calculated_Total_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Amount_after_adding_tax_percent</name>
        <label>Amount after adding tax percent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CalculatedTotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AfterAddingTax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Calculated_Total_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Amount_Discount</name>
        <label>Calculate Amount Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CalculatedTotalPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AmountBasedFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_after_adding_Tax</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_percentage_Discount</name>
        <label>Calculate percentage Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CalculatedTotalPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PercentBaseFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_after_adding_tax_percent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Amount_after_adding_TaxNS</name>
        <label>Copy 1 of Amount after adding TaxNS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CalculatedTotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AfterAddingTax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Calculated_Total_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Amount_after_adding_tax_percentNS</name>
        <label>Copy 2 of Amount after adding tax percentNS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CalculatedTotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AfterAddingTax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Calculated_Total_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Calculate_Amount_Discount_NS</name>
        <label>Copy 2 of Calculate Amount Discount(NS)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CalculatedTotalPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AmountBasedNS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Amount_after_adding_TaxNS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Calculate_percentage_DiscountNS</name>
        <label>Copy 2 of Calculate percentage DiscountNS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CalculatedTotalPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PercentBasedNS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Amount_after_adding_tax_percentNS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Disc_Type</name>
        <label>Check Disc Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Calculated_Total_Price</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Discount</defaultConnectorLabel>
        <rules>
            <name>If_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Amount_Discount</targetReference>
            </connector>
            <label>If Amount</label>
        </rules>
        <rules>
            <name>If_Percentage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Percentage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_percentage_Discount</targetReference>
            </connector>
            <label>If Percentage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Disc_Type_Natural_Stone</name>
        <label>Check Disc Type(Natural Stone)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Calculated_Total_Price</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Discount</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Calculate_Amount_Discount_NS</targetReference>
            </connector>
            <label>Copy 1 of If Amount</label>
        </rules>
        <rules>
            <name>Copy_1_of_If_Percentage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Percentage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Calculate_percentage_DiscountNS</targetReference>
            </connector>
            <label>Copy 1 of If Percentage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Natural_Stone_or_NOT</name>
        <label>Natural Stone or NOT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Disc_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Natural_Stone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATURAL STONE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Disc_Type_Natural_Stone</targetReference>
            </connector>
            <label>Is Natural Stone</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AfterAddingTax</name>
        <dataType>Currency</dataType>
        <expression>{!CalculatedTotalPrice}*(1 + {!$Record.Product_Tax__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AmountBasedFormula</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Unit_Price__c}*{!$Record.Quantity__c}) - {!$Record.Dis_Value__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AmountBasedNS</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Unit_Price__c}-{!$Record.Dis_Value__c})*{!$Record.Sqft__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PercentBasedNS</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Unit_Price__c}* {!$Record.Sqft__c}* (1 - {!$Record.Dis_Value__c} / 100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PercentBaseFormula</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Unit_Price__c}*(1-{!$Record.Dis_Value__c}/100))*{!$Record.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Cart Line Item Price Calculation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cart Line Item Price Calculation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Calculated_Total_Price</name>
        <label>Update Calculated Total Price</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Calculated_Total_Price__c</field>
            <value>
                <elementReference>CalculatedTotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Natural_Stone_or_NOT</targetReference>
        </connector>
        <object>Cart_Line_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CalculatedTotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
