force-app/main/default/flows/Copy_Billing_address_to_shipping_address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Copy_to_Shipping_Address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>Outcome 1 of Decision 1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Copy Billing address to shipping address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Billing address to shipping address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Shipping_Address</name>
        <label>Update Shipping Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Copy_to_Shipping_Address__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Deals__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Update</name>
        <label>Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Shipping_Address</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Deals__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Address__City__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Billing_Address__City__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Address__CountryCode__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Billing_Address__CountryCode__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Address__Latitude__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Billing_Address__Latitude__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Address__Longitude__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Billing_Address__Longitude__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Address__PostalCode__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Billing_Address__PostalCode__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Address__StateCode__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Billing_Address__StateCode__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Address__Street__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Billing_Address__Street__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Address__GeocodeAccuracy__s</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Billing_Address__GeocodeAccuracy__s</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipping_Address_Name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Billing_Address_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipping_Address_Name_2__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Billing_Address_Name_2__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipping_Address_Name_3__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Billing_Address_Name_3__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
