force-app/main/default/flows/Sales_Order_Status_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Sales_Order_Status_Notification</name>
        <label>Send Sales Order Status Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>SalesOrderNotificationType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SalesOrderNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SalesOrderNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <stringValue>$Record.Id</stringValue>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Add_Owner_To_RecipientIds</name>
        <label>Add Owner To RecipientIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>$Record.OwnerId</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Sales_Order_Status_Notification</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>SalesOrderNotificationTitle</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Order Status Updated</stringValue>
        </value>
    </constants>
    <description>Sends a custom bell notification to the Sales Order owner whenever the Sales Order status is updated.</description>
    <environments>Default</environments>
    <formulas>
        <name>SalesOrderNotificationBody</name>
        <dataType>String</dataType>
        <expression>&quot;Sales Order &quot; &amp; $Record.OrderNumber &amp;
&quot; status changed to &quot; &amp; TEXT($Record.Status)</expression>
    </formulas>
    <formulas>
        <name>SalesOrderNotificationType</name>
        <dataType>String</dataType>
        <expression>&quot;Sales_Order_Notification&quot;</expression>
    </formulas>
    <interviewLabel>Sales Order Status Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Order Status Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Owner_To_RecipientIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
