force-app/main/default/flows/Sales_Order_Notification_to_Sales_Coordinator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_to_Sales_Coordinator</name>
        <label>Send Notification to Sales Coordinator</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Customer Confirmed the Quotation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SalesOrderNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Store_User_Id</name>
        <label>Store User Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005IU00000B6K5rYAF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005IU00000B6K6GYAV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005IU00000B6K6RYAV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>005fw000004zxnOAAQ</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Notification_Id</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>SalesOrderNotification</name>
        <dataType>String</dataType>
        <expression>&apos;Opportunity - &apos;&amp;{!$Record.Name}&amp;&apos; received.&apos;</expression>
    </formulas>
    <interviewLabel>Sales Order Notification to Sales Coordinator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Order Notification to Sales Coordinator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification_Id</name>
        <label>Get Notification Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_to_Sales_Coordinator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification to Sales Coordinator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Store_User_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Confirmation__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Deals__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
