force-app/main/default/flows/Update_Discount_in_Cart_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Check_Discount_Type</name>
        <label>Check Discount Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Total_amount</targetReference>
            </connector>
            <label>If amount</label>
        </rules>
        <rules>
            <name>If_Percentage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Percentage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_total_amount_1</targetReference>
            </connector>
            <label>If Percentage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Discount_Type</name>
        <label>Copy 1 of Check Discount Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_If_amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_amount</targetReference>
            </connector>
            <label>Copy 1 of If amount</label>
        </rules>
        <rules>
            <name>Copy_1_of_If_Percentage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Percentage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_amount_1</targetReference>
            </connector>
            <label>Copy 1 of If Percentage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Check_Discount_Type</name>
        <label>Copy 1 of Copy 1 of Check Discount Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_If_amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_Amount</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of If amount</label>
        </rules>
        <rules>
            <name>Copy_1_of_Copy_1_of_If_Percentage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disc_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Percentage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_amount</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of If Percentage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Check_Discount_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>IF_Tiles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TILES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Discount_Type</targetReference>
            </connector>
            <label>IF Tiles</label>
        </rules>
        <rules>
            <name>IF_Natural_Stone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATURAL STONE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Discount_Type</targetReference>
            </connector>
            <label>IF Natural Stone</label>
        </rules>
    </decisions>
    <description>New One</description>
    <environments>Default</environments>
    <formulas>
        <name>afterdisc</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Unit_Price__c}-{!$Record.Dis_Value__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>afterpercentdisc</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Unit_Price__c} * (1 - {!$Record.Dis_Value__c} / 100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calculateafterdiscprice</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Price_Sqft__c} * (1 - {!$Record.Dis_Value__c} / 100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula1</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Price_Sqft__c}-{!$Record.Dis_Value__c})*{!$Record.Sqft__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula2</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Price_Sqft__c} * (1 - {!$Record.Dis_Value__c} / 100)) * {!$Record.Sqft__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula3</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Unit_Price__c}-{!$Record.Dis_Value__c})*{!$Record.Sqft__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formula4</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Price_Sqft__c}-{!$Record.Dis_Value__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaNS</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Unit_Price__c}-{!$Record.Dis_Value__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaNS1</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Unit_Price__c} * (1 - {!$Record.Dis_Value__c} / 100)*{!$Record.Sqft__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FormulaNS2</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Unit_Price__c} * (1 - {!$Record.Dis_Value__c} / 100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Others1</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Unit_Price__c}-{!$Record.Dis_Value__c})*{!$Record.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Others2</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Unit_Price__c} * (1 - {!$Record.Dis_Value__c} / 100)*{!$Record.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Discount in Cart Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Discount in Cart Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>after_disc_percent</name>
        <label>after disc percent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>After_Disc_Price_Piece__c</field>
            <value>
                <elementReference>afterpercentdisc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>After_Disc_Price_Sqft__c</field>
            <value>
                <elementReference>afterpercentdisc</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>after_discount</name>
        <label>after discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>After_Disc_Price_Piece__c</field>
            <value>
                <elementReference>afterdisc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>After_Disc_Price_Sqft__c</field>
            <value>
                <elementReference>afterdisc</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Store_amount</name>
        <label>Store amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_amount_after_disc_sqft</targetReference>
        </connector>
        <inputAssignments>
            <field>Calculated_Total_Price__c</field>
            <value>
                <elementReference>Formula3</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Store_amount_1</name>
        <label>Store amount 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_amount_after_disc</targetReference>
        </connector>
        <inputAssignments>
            <field>Calculated_Total_Price__c</field>
            <value>
                <elementReference>FormulaNS1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Store_Total_amount</name>
        <label>Store Total amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_after_disc_price_sqft</targetReference>
        </connector>
        <inputAssignments>
            <field>Calculated_Total_Price__c</field>
            <value>
                <elementReference>formula1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Store_total_amount_1</name>
        <label>Store total amount 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_after_disc_sqft</targetReference>
        </connector>
        <inputAssignments>
            <field>Calculated_Total_Price__c</field>
            <value>
                <elementReference>formula2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Total_amount</name>
        <label>Total amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>after_disc_percent</targetReference>
        </connector>
        <inputAssignments>
            <field>Calculated_Total_Price__c</field>
            <value>
                <elementReference>Others2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_after_disc_price_sqft</name>
        <label>Update after disc price sqft</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>After_Disc_Price_Piece__c</field>
            <value>
                <elementReference>formula4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>After_Disc_Price_Sqft__c</field>
            <value>
                <elementReference>formula4</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_after_disc_sqft</name>
        <label>update after disc sqft</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>After_Disc_Price_Piece__c</field>
            <value>
                <elementReference>calculateafterdiscprice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>After_Disc_Price_Sqft__c</field>
            <value>
                <elementReference>calculateafterdiscprice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_amount_after_disc</name>
        <label>update amount after disc</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>After_Disc_Price_Piece__c</field>
            <value>
                <elementReference>FormulaNS2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>After_Disc_Price_Sqft__c</field>
            <value>
                <elementReference>FormulaNS2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_amount_after_disc_sqft</name>
        <label>Update amount after disc sqft</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>After_Disc_Price_Piece__c</field>
            <value>
                <elementReference>FormulaNS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>After_Disc_Price_Sqft__c</field>
            <value>
                <elementReference>FormulaNS</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_Amount</name>
        <label>Update Total Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>after_discount</targetReference>
        </connector>
        <inputAssignments>
            <field>Calculated_Total_Price__c</field>
            <value>
                <elementReference>Others1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <object>Cart_Line_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>afterdiscpricesqft</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalpriceafterdisc</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
